@font-face {
	font-family: 'Monda';
	font-style: normal;
	font-weight: 400;
	src: local('Monda Regular'), local('Monda-Regular'), url('Monda.woff') format('woff');
}
@font-face {
	font-family: 'Monda';
	font-style: normal;
	font-weight: 700;
	src: local('Monda Bold'), local('Monda-Bold'), url('MondaBold.woff') format('woff');
}
@font-face {
	font-family: 'Picons';
	font-style: normal;
	font-weight: 200;
	src: url('Picons.woff') format('woff');
}

body {
	font-family: Helvetica, Arial, Verdana;
	font-size: 12px;
	background: #97CEEC;
	color: #FFF;
	line-height: 1.4em;
	margin: 0;
	height: 100%;
}

a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

h1 {
	font-weight: 100;
	font-size: 32px;
	font-family: 'Monda', sans-serif;
	color: #FFF;
	line-height: 1.4em;
}

ul, ol, li {
	list-style-type: square;
}

li {
	margin-top: 10px;
}

a:hover {
	text-decoration: underline;
}

div#map {
	width: 100%;
	padding: 0 0 10px 0;
	position: absolute;
	height: 630px;
	top: 0;
	z-index: 10;
	border-bottom: 6px solid #080812;
	background: url('../img/map.png');
	background-position: 20% 50%;
}

div#map div#nav {
	width: 100%;
	padding: 8px 0 12px 0;
	height: 14px;
	background: rgba(173, 219, 239, 0.95);
	font-size: 16px;
	box-shadow: 0px 0px 20px #222;
	position: absolute;
	z-index: 20;
	top: 0;
}

a#ca {
	font-size: 14px;
	margin-left: 20px;
}

div#map div#nav img#cryptocatLogo {
	float: left;
	margin-left: 20px;
	width: 197px;
	height: 21px;
}

div#map div#navLinks {
	text-align: right;
	float: right;
	margin-right: 20px;
}

div#map div#nav a {
	color: #000;
	margin-right: 20px;
	font-family: 'Monda', sans-serif;
	font-weight: bold;
}

div#map div#header {
	color: #FFF;
	background: rgba(151, 206, 236, 0.95);
	padding: 10px 0;
	margin: 130px 0 275px 0;
	height: 200px;
	width: 100%;
	min-width: 900px;
	position: relative;
	
	z-index: 2;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
}

.picon {
	font-family: 'Picons';
}

div#map div#header .picon {
	font-size: 40px;
	text-shadow: 0 0 25px #97CEEC;
}

div#map div#header a {
	margin-top: 15px;
	font-size: 22px;
	position: relative;
	bottom: 10px;
}

.downloadLink {
	text-shadow: 0 0 15px #97CEEC;
}

div#map img#logo {
	float: left;
	z-index: 3;
	position: relative;
	margin: 0 0 0 20px;
	width: 200px;
	height: 200px;
}

div#map h1 {
	display: inline;
	margin: 0 0 0 40px;
	position: relative;
	top: 20px;
	font-size: 36px;
}

div#map div#header p {
	font-size: 16px;
	margin: 25px 0 0 40px;
	line-height: 1.4em;
	min-width: 800px;
	width: 800px;
	font-family: 'Monda', sans-serif;
	position: relative;
	left: 40px;
}

#arrow, .smallArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 55px 55px 0 55px;
	margin: 0 auto;
	border-color: #000 transparent transparent transparent;
}

hr {
	width: 100%;
	border: 1px solid #000;
	margin-bottom: 0;
}

.smallArrow {
	border-width: 15px 15px 0 15px;
	margin-bottom: 20px;
}

a.cryptocatAnchor {
	position: relative;
	bottom: 50px;
}

div#body {
	padding: 10px;
	margin: 620px auto 0 auto;
	width: 900px;
	text-align: justify;
}

div#body h1 {
	margin: 5px 0 20px 0;
	text-align: center;
}

div#body p {
	margin: 20px auto 30px auto;
	font-size: 16px;
	font-family: 'Monda', sans-serif;
	line-height: 1.4em;
}

div#body p.picon {
	font-size: 80px;
	font-family: 'Picons';
	float: left;
	margin-right: 20px;
	line-height: 0.3em;
}

div#body strong {
	color: #EEE;
}

div#body div#warningsBox {
	display: none;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	margin: 0 auto;
	width: 500px;
}

div#footer {
	width: 100%;
	padding: 10px 0 10px 0;
	background: rgba(173, 219, 239, 0.95);
	margin-top: 50px;
	border-top: 1px solid #FFF;
}

div#footer table {
	min-width: 700px;
}

div#footer table td {
	height: 170px;
	display: inline-block;
	margin-left: 10px;
	border: 1px dashed #FFF;
	padding: 5px;
	border-left: none;
	border-right: none;
}

div#footer .copyright {
	text-align: left;
	margin-left: 20px;
	font-family: 'Monda', sans-serif;
	font-weight: bold;
}

div#footer .social {
	font-size: 70px;
	text-align: right;
	float: right;
	margin: -65px 30px 0 0;
}

div#footer .social a:hover {
	text-decoration: none;
	text-shadow: 0 0 30px #FFF;
}

div#footer div#footerContent {
	padding: 0 20px 20px 20px;
	font-family: 'Monda', sans-serif;
}